In [25]:
import pandas as pd
import numpy as np
df = pd.read_csv("../Data/Volcanes_RL.csv")

In [26]:
Vs = df['Volcano'].tolist()
Vs

['Llaima',
 'Sollipulli',
 'Caburga-Huelemolle',
 'Villarrica',
 'Quetrupillán',
 'Lanín',
 'Huanquihue Group',
 'Mocho-Choshuenco',
 'Carrán-Los Venados',
 'Puyehue-Cordón Caulle',
 'Antillanca-Casablanca',
 'Osorno',
 'Calbuco',
 'Yate',
 'Apagado',
 'Hornopirén',
 'Huequi',
 'Michinmahuida',
 'Chaitén',
 'Corcovado',
 'Yanteles',
 'Melimoyu',
 'Mentolat',
 'Cay',
 'Macá',
 'Hudson',
 'Lautaro',
 'Viedma',
 'Aguilera',
 'Reclus',
 'Monte Burney']

In [27]:
RLAs = df['joint_regression_a'].tolist()
RLAs

[-2.5,
 nan,
 -10.825,
 -2.311,
 -6.756,
 -6.394,
 nan,
 nan,
 nan,
 -5.319,
 nan,
 nan,
 -1.374,
 -6.105,
 nan,
 nan,
 -2.605,
 -5.296,
 nan,
 nan,
 nan,
 -4.203,
 nan,
 nan,
 nan,
 -5.598,
 nan,
 nan,
 nan,
 -1.565,
 nan]

In [28]:
RLBs = df['joint_regression_b'].tolist()
RLBs

[0.059,
 nan,
 0.227,
 0.056,
 0.15,
 0.145,
 nan,
 nan,
 nan,
 0.115,
 nan,
 nan,
 0.035,
 0.13,
 nan,
 nan,
 0.057,
 0.123,
 nan,
 nan,
 nan,
 0.101,
 nan,
 nan,
 nan,
 0.13,
 nan,
 nan,
 nan,
 0.047,
 nan]

In [29]:
coeff_info = pd.DataFrame()
coeff_info['Volcano'] = Vs
coeff_info['k'] = np.nan
coeff_info['b'] = np.nan

for i in range(len(Vs)):
    v = Vs[i]
    a = RLAs[i]
    b = RLBs[i]
    
    p1 = [45, 45*b+a]
    p2 = [80, 80*b+a]

    i1 = [10, 296/4.5*p1[1]]
    i2 = [390, 296/4.5*p2[1]]
    
    m = (i2[1] - 10)/(390 - 10)
    n = (i1[1] - m*10)+10
    
    # write to df
    index = coeff_info.index[coeff_info.Volcano == v].tolist()[0]
    coeff_info.loc[index,'k'] = m
    coeff_info.loc[index,'b'] = n
coeff_info

                  Volcano         k          b
0                  Llaima  0.357965  16.615906
1              Sollipulli       NaN        NaN
2      Caburga-Huelemolle  1.243368 -42.558129
3              Villarrica  0.349137  20.256187
4            Quetrupillán  0.881418   0.791158
5                   Lanín  0.874840   9.868491
6        Huanquihue Group       NaN        NaN
7        Mocho-Choshuenco       NaN        NaN
8      Carrán-Los Venados       NaN        NaN
9   Puyehue-Cordón Caulle  0.645483  -5.926830
10  Antillanca-Casablanca       NaN        NaN
11                 Osorno       NaN        NaN
12                Calbuco  0.220524  21.016094
13                   Yate  0.717146 -13.944795
14                Apagado       NaN        NaN
15             Hornopirén       NaN        NaN
16                 Huequi  0.312094   4.247953
17          Michinmahuida  0.760248  18.118409
18                Chaitén       NaN        NaN
19              Corcovado       NaN        NaN
20               Yanteles       NaN        NaN
21               Melimoyu  0.644791  26.048094
22               Mentolat       NaN        NaN
23                    Cay       NaN        NaN
24                   Macá       NaN        NaN
25                 Hudson  0.804908  18.526924
26                Lautaro       NaN        NaN
27                 Viedma       NaN        NaN
28               Aguilera       NaN        NaN
29                 Reclus  0.353637  42.641404
30           Monte Burney       NaN        NaN

In [30]:
coeff_info.to_csv(r'../Data/coeff_info.csv', index=False)

In [2]:
a = -2.5
b = 0.059

In [3]:
p1 = [45, 45*b+a]
p2 = [80, 80*b+a]

i1 = [10, 296/4.5*p1[1]]
i2 = [390, 296/4.5*p2[1]]

In [4]:
print(p1, p2)

[45, 0.1549999999999998] [80, 2.2199999999999998]

In [5]:
print(i1, i2)

[10, 10.195555555555542] [390, 146.02666666666664]

In [7]:
m = (i2[1] - 10)/(390 - 10)
m

0.3579649122807017

In [9]:
n = (i1[1] - m*10)+10
n

16.615906432748524